body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(241, 241, 236);
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #222;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link.active {
  color: rgb(218, 211, 71);
  border-bottom: 2px solid #61dafb;
}

.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

